
@{
    ViewBag.Title = "CreateOrUpdate";
}
<link href="~/Content/webuploader/webuploader.css" rel="stylesheet" />
<div class="panel-body">
    <form id="Form" role="form"  class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">游戏名称</label>
            <div class="col-sm-6">
                <input class="form-control"  type="text" v-model="model.gameName">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">上传图片</label>
            <div class="col-sm-6">
                <div id="uploader-demo">
                    <input type="hidden" id="hdfImageUrl" v-model="model.gamePic" />
                    <img id="imgShow" width="200" v-bind:src="model.gamePic"/>
                    <!--用来存放item-->
                    <div id="filePicker">选择图片</div>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="~/Content/vue/vue.js"></script>
<script src="~/Content/webuploader/webuploader.nolog.min.js"></script>
<script src="~/Scripts/UpLoadImgage.js"></script>
@section scripts{
    <script>
        var gameService = abp.services.app.game;
        var vue = new Vue({
            el: "#Form",
            data: {
                id: '@Model',
                model:{}
            },
            methods: {
                init: function () {
                    webPicUploader('#filePicker', '#imgShow', '#hdfImageUrl');
                    var _this = this;
                    abp.ui.setBusy();
                    gameService.getEdit(_this.id).done(function (result) {
                        console.log(result);
                        _this.model = result.game;
                    }).always(function() {
                        abp.ui.clearBusy();
                    });
                },
                save:function() {
                    abp.ui.setBusy();
                    gameService.createOrUpdate({
                        game:this.model
                    }).done(function() {
                        abp.message.success("保存成功");
                    }).always(function () {
                        abp.ui.clearBusy();
                    });
                }
            }
        });
        vue.init();
    </script>
}

